[submodule "example/www/vendor/socket.io-client"]
	path = bin/www/vendor/socket.io-client
	url = git://github.com/LearnBoost/socket.io-client.git
[submodule "bin/www/vendor/socket.io-client"]
	path = bin/www/vendor/socket.io-client
	url = git://github.com/LearnBoost/socket.io-client.git
